# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: "PVPMC 2022"
author: Silvana Ayala Pelaez, Mark Mikofski, Kevin Anderson
logo: images/PVLib_PVPMCLogo.PNG

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: auto
  exclude_patterns:
    - 'Tutorial D - pySAM Modeling the Bifacial Tracker Field at NREL.ipynb'

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
#bibtex_bibfiles:
#  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/PVSC-Python-Tutorials/PVPMC_2022
  #path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: main

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

launch_buttons:
  jupyterhub_url: "https://pvsc-python-tutorial.eastus.cloudapp.azure.com"
  thebe: true
